<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <p id="notice"><%= notice %></p>
    <h1>依頼内容</h1>
    <p>
      <strong>ユーザー:</strong>
      <%= @submit_request.user.name %>
    </p>
    <p>
      <strong>タスク:</strong>
      <%= @submit_request.task.title %>
    </p>
    <p>
      <strong>メッセージ:</strong>
      <%= @submit_request.message %>
    </p>
    <p>
      <strong>依頼者:</strong>
      <%= @submit_request.request_user.name %>
    </p>
    <p>
      <strong>ステータス:</strong>
      <%= @submit_request.status %>
    </p>
    <%= link_to '編集', edit_submit_request_path(@submit_request), class: 'btn btn-primary' %> |
    <%= link_to '戻る', :back, class: 'btn btn-default' %>
  </div>
</div>
